name: Construction Box Vagrant
on: [push]

env:
  # Récupération des clés depuis le coffre-fort GitHub
  HCP_CLIENT_ID: ${{ secrets.HCP_CLIENT_ID }}
  HCP_CLIENT_SECRET: ${{ secrets.HCP_CLIENT_SECRET }}

jobs:
  build-box:
    runs-on: macos-13
    steps:
      - uses: actions/checkout@v4
      
      - name: Install Vagrant & VirtualBox
        run: |
          brew tap hashicorp/tap
          brew install hashicorp/tap/hashicorp-vagrant
          brew install --cask virtualbox
      
      # Installation de l'outil d'authentification HashiCorp
      - name: Install HCP CLI
        run: brew install hashicorp/tap/hcp

      # Connexion au Cloud
      - name: Authenticate with HCP
        run: hcp auth login --client-id "$HCP_CLIENT_ID" --client-secret "$HCP_CLIENT_SECRET"

      - name: Build VM (Vagrant Up)
        run: vagrant up
        
      - name: Test Ollama Installation
        run: vagrant ssh -c "ollama --version"

      - name: Package Box
        run: vagrant package --output deepseek-ci.box
      
      # Envoi vers ta nouvelle box "deepseek-ci"
      - name: Publish to Cloud
        # Syntaxe : organisation/box version provider fichier
        run: vagrant cloud publish easy4ia/deepseek-ci 1.0.0 virtualbox deepseek-ci.box --force